<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profiler (Extension) 구현 페이지</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web/oui-css/oui.css">
  <style>
    .space {
      width: 6px;
      height: auto;
      display: inline-block;
    }
    @font-face {
      font-family: 'ONE-Mobile-POP';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    body { font-family: 'ONE-Mobile-POP'; font-style:normal; font-weight:normal; }
    .font_patching { font-family: 'ONE-Mobile-POP'; font-style:normal; font-weight:normal; }

    :root {
      /*color palette*/
      --p-white: #FFFFFF;
      --white-col: 252,252,252;
      --white: rgb(var(--white-col));
      --black-col: 37, 37, 37;
      --black: rgb(var(--black-col));
      --d-grey: #737373;
      --dark-m-grey: #b6b6b6;
      --m-grey: #c4c4c4;
      --l-grey: #E6E6E6;
      --xl-grey-col: 242,242,242; /*#F2F2F2*/
      --xl-grey: rgb(var(--xl-grey-col));
      --orange: #C65306;
      --blue: #0865C3;
      --l-blue: #4297FF;
      --xl-blue: #AAD0F5;
      --red: #F01346;
      --green: #15B76C;
      --purple: #6446E6;
      --yellow: #FF9E01;
  
      /*main theme variables*/
      --text: var(--black);
      --text-secondary: var(--d-grey);
      --primary: var(--blue);
      --secondary: var();
      --active: var(--l-blue);
      --inactive: var(--xl-blue);
      --app-accent: var(--primary);
  
      /*backgrounds*/
      --background: var(--xl-grey);
      --control-background: var(--l-grey);
      --textual-background: var(--white);
      --surface-background: var(--white);
      --alt-surface-background: var(--d-grey);
      --frosted-opacity: 0.8;
      --frosted-blur-size: 0.5rem;
      --frosted-background-color: rgba(var(--xl-grey-col), var(--frosted-opacity));
  
      /*accents*/
      --error: var(--red);
      --confirmation: var(--green);
      --accent-badge: var(--orange);
  
      /*on top colors*/
      --on-primary: var(--p-white);
      --on-secondary: var();
      --on-active: var(--p-white);
      --on-background: var(--black);
      --on-alt-background: var(--p-white);
      --on-surface: var(--black);
      --on-error: var(--white);
      --on-confirmation: var(--white);
      --on-accent-badge: var(--p-white);
  
      /*borders*/
      --border-surface: var(--l-grey);
      --border-alt-surface: var(--l-grey);
      --border-control: var(--d-grey);
  
      /*misc*/
      --shadow-color: rgba(var(--black-col), 0.3);
  }
  </style>
</head>
<body>
  <br><br>
  <h2 style="MARGIN-left: 10px;">Task 단위</h2>
  <br><br>
  <button style="MARGIN-left: 10px;" class="oui-button font_patching" onclick="loadData('task', 1)">Task 1</button>
  <div class="space"></div>
  <button class="oui-button font_patching" onclick="loadData('task', 2)">Task 2</button>
  <div class="space"></div>
  <button class="oui-button font_patching" onclick="loadData('task', 3)">Task 3</button>
  <div class="space"></div>
  <button class="oui-button font_patching" onclick="loadData('task', 4)">Task 4</button>
  <div class="space"></div>
  <button class="oui-button font_patching" onclick="loadData('task', 5)">Task 5</button>
  <br><br><br><br>
  <h2 style="MARGIN-left: 10px;">Core 단위</h2>
  <br><br>
  <button style="MARGIN-left: 10px;" class="oui-button font_patching" onclick="loadData('core', 1)">Core 1</button>
  <div class="space"></div>
  <button class="oui-button font_patching" onclick="loadData('core', 2)">Core 2</button>
  <div class="space"></div>
  <button class="oui-button font_patching" onclick="loadData('core', 3)">Core 3</button>
  <div class="space"></div>
  <button class="oui-button font_patching" onclick="loadData('core', 4)">Core 4</button>
  <div class="space"></div>
  <button class="oui-button font_patching" onclick="loadData('core', 5)">Core 5</button>
  <div style = "text-align:center;">
    <canvas id="chart" style="height:60vh; width:50vw"></canvas>
  </div>
  <script src="app.js"></script>
</body>
</html>