<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiler</title>
    <style>
        #cpuChart {
            width: 50% !important;
            height: 400px !important;
          }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../func/pop_db.js"></script>
    
</head>
<body>
    <canvas id="cpuChart"></canvas>

    <button onclick="pop_core1(0)">Core 1</button>
    <script>
        const pop_core = require('../func/pop_db').pop_core;

        function pop_core1(num){
            const coreData = pop_core(num);
            console.log(coreData);
          }
    </script>
    <button onclick="pop_db.pop_core(1)">Core 2</button>
    <button onclick="pop_db.pop_core(2)">Core 3</button>
    <button onclick="pop_db.pop_core(3)">Core 4</button>
    <button onclick="pop_db.pop_core(4)">Core 5</button>

    <button onclick="pop_db.pop_task(0)">Task 1</button>
    <button onclick="pop_db.pop_task(1)">Task 2</button>
    <button onclick="pop_db.pop_task(2)">Task 3</button>
    <button onclick="pop_db.pop_task(3)">Task 4</button>
    <button onclick="pop_db.pop_task(4)">Task 5</button>
    <script>
        const cpuChart = document.getElementById('cpuChart');

        // Create the chart object
        const chart = new Chart(cpuChart, {
        type: 'line',
        data: {
            labels: ['1', '2', '3', '4', '5', '6'],
            datasets: [
            {
            label: `최솟값: ${10}`,
            data: [1, 59, 80, 81, 56, 55],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
            
            },
            {
            label: '최댓값',
            borderWidth: 1,
            },
            {
            label: '평균값',
            borderWidth: 1,
            },
            ]
        },
        options: {
            responsive: true,
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });
    </script>
</body>
</html>